## GLOBAL VARIABLES ##
PUID=1025
PGID=1000
TZ=UTC
DOWNLOADS_PATH=~/Dockerfiles/downloads
PVR_PATH=~/Dockerfiles/pvr

## TRANSMISSION OPENVPN VARIABLES ##
## Torrent Downloader ##
## https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=** Refer Supported Providers **
OPENVPN_CONFIG=default
OPENVPN_USERNAME=** Replace with VPN Username **
OPENVPN_PASSWORD=** Replace with VPN Password **

## https://hub.docker.com/r/haugene/transmission-openvpn/tags
TRANSMISSION_VERSION=4.0
TRANSMISSION_LOCAL_NETWORK=192.168.0.0/16
TRANSMISSION_RPC_USERNAME=** Replace with Transmission Web Username **
TRANSMISSION_RPC_PASSWORD=** Replace with Transmission Web Password **

## TDARR VARIABLES ##
## Distributed Transcoding System ##
## https://github.com/users/haveagitgat/packages/container/package/tdarr
TDARR_VERSION:-2.00.18

## PROWLARR VARIABLES ##
## Torrent indexing server ##
PROWLARR_VERSION=develop