## GLOBAL
PUID=1000
PGID=1000
TZ=UTC

## APP PATHS
BAZARR_PATH=/opt/arr/bazarr
CUSTOM_SCRIPTS_PATH=/opt/arr/custom_scripts
HEIMDALL_PATH=/opt/arr/heimdall 
LIDARR_PATH=/opt/arr/lidarr
OVERSEER_PATH=/opt/arr/overseerr
PROWLARR_PATH=/opt/arr/prowlarr
RADARR_PATH=/opt/arr/radarr
READARR_PATH=/opt/arr/readarr
SONARR_PATH=/opt/arr/sonarr 
TRANSMISSION_PATH=/opt/arr/transmssion


## MOUNT PATHS
AUDIOBOOKS_PATH=/mnt/nas/audiobooks
DOWNLOADS_PATH=/mnt/nas/downloads
EBOOKS_PATH=/mnt/nas/ebooks
MOVIES_PATH=/mnt/nas/movies
MUSIC_PATH=/mnt/nas/music
TV_SHOWS_PATH=/mnt/nas/tv_shows


## TRANSMISSION OPTIONS
OPENVPN_PROVIDER=<vpn provider>
OPENVPN_CONFIG=<vpn server to use>
OPENVPN_USERNAME=<vpn provider username>
OPENVPN_PASSWORD=<vpn provider password>
TRANSMISSION_LOCAL_NETWORK=192.168.1.0/24
TRANSMISSION_RPC_USERNAME=<web login username>
TRANSMISSION_RPC_PASSWORD=<web login password>


## CLOUDFLARE OPTIONS
CLOUDFLARED_TUNNEL_TOKEN=<secrete_cloudflare_tunnel_token>